name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Descargando el repo
      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Instalar el gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Buildiear el proyecto
        run: ./gradlew build
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Crear y subir la imagen
        with:
          image: felipemendoza24/inmobiliario
          tags: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USUARIO }}
          password: ${{ secrets.DOCKER_CLAVE }}
